@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --Primary: #072ac8;
    --PrimaryLight: #a2d6f9;
    --PrimaryLighter: #d1edff;
    --SecondaryLight: #fce300;
    --SecondaryDark: #ffc600;
    --NeutralLight: #f4f6fc;
    --NeutralMedium: #6b708d;
    --NeutralDark: #292e47;
    --Wrong: #b33a3a;
    --Right: #28a428;
    --White: #fff;
    --Black: #000;
    --Background: #f2f4fc;
}

html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* max-width: 1200px;  */
}

body {
    background: var(--Background);
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    width: 100vw;
    margin: 20px auto; 
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.navbar{
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    padding: 8px;
}

.main-nav-desktop{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.main-nav-desktop li {
    list-style-type: none;
    display: inline-block;
	line-height: 70px;
    padding: 0 10px;
}

.main-nav-desktop li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.main-nav-desktop li a:hover{
    color: var(--Primary); 
}

.btnContact{
    padding: 15px;
    background: var(--Primary);
    text-decoration: none;
    color: var(--White); 
    font-size: 18px;
}

.btnContact:hover{
    color: var(--SecondaryDark);
}

.burger-menu{
    display: none;
}

.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px;
}

.hero{
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 60px;
}

.heroContent{
    text-align: left;
    width: 60%;
    height: 100%;
    display: inline-block;  
}

h1{
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: 700;
    color: var(--NeutralDark); 
}

.heroContent h3{
    width: 150;
    font-weight: normal;
    font-size: 25px;
    padding-bottom: 45px;
    color: var(--NeutralDark);
}

.touch{
    padding: 18px;
    background: var(--Primary);
    text-decoration: none;
    color: var(--White); 
    font-weight: bold;
}

.work{
    padding: 18px;
    background: var(--Background);
    text-decoration: none;
    color: grey; 
    font-weight: bold;
}

.touch:hover{
    color: var(--SecondaryDark);
}

.work:hover{
    text-decoration: underline;
    color: var(--Primary); 
}

.heroPhoto{
    width: 40%;
    height: 100%;
    background-image: url('../img/hero-image.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.heroP{
    position: absolute;
    width: 400px;
    height: auto;
}

img .card .accepted{
    width: 150px;
    height: 250px;
}

.card {
    position: relative;
    width: 250px;
    height: auto;
    top: 30px;
    left: -60px;
}

.accepted {
    position: relative;
    width: 250px;
    height: auto;
    top: 35px;
    left: 220px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 100px;
    width: 1000px;
    margin-bottom: 150px;
}

.grid-item{
    filter: grayscale(100%);
    cursor: pointer;
    width: 110px;
    transition: all 0.4s ease-in-out;
}

.grid-item:hover {
    filter: grayscale(0%);
    width: 150px;
}

#section-projects{
    width: 1000px;
    height: 500px;
    margin-bottom: 100px;
}

.article-projects{
    display: flex;
    width: 1000px;
    height: 350px;
    justify-content: space-between;
}

#section-projects h2{
    width: 1000px;
    padding-bottom: 40px;
    font-size: 30px;
}

.projects{
    margin: 0;
    width: 280px;
    height: 100%;
    background-color: white;
    color: black;
}

.projects:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.projects img{
    height: 50%;
    width: 100%;
    margin: 0px -10px 0px 0px;
}

.projects h3{
    margin: 10px;
    font-size: 25px;
    
}

.projects h4{
    font-weight: normal;
    margin: 0px 10px 65px 10px;
    color: gray;
}

.project1 {
    color: var(--Primary);

}

.projects a{
    font-weight: bold;
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    color: var(--Primary);
}

.project-learn:hover{
    text-decoration: underline;
}

a h3, a h4{
    color: black;
}

#testimonial-section {
    background: var(--NeutralDark);
    background-image: url(../img/orbit.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 1200px;
    height: 400px;
    background-size: cover;
    margin-bottom: 150px;
  }

  .text-testimonial{
    position: absolute;
    width: 1200px;
    height: 200px;
    background: var(--NeutralDark);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 28%;
  }
  
  .text-testimonial h2{
    color:white;
    font-size: 40px;
    padding:20px 0px;
  } 
 
  .text-testimonial h3{
    color:white;
    font-size: 20px;
    font-weight: normal;
    padding: 0px 300px;
    text-align: center;
    color: var(--SecondaryDark);
  } 

  #testimonial-section .profileP{
    position: static;
  }

  #testimonial-section img{
    position: absolute;
    width: 80px;
  }

  .icono1{
    top: 3%;
    left: 2%;
  }

  .icono2{
    top: 3%;
    left: 90%;
  }

  .icono3{
    top: 75%;
    left: 2%;
  }

  .icono4{
    top: 75%;
    left: 90%;
  }

  .profile{
    margin-top: 30px;
    width: 200px;
    display: flex;
  }

  .profileP{
    position: relative;
    top:80%;
    border-radius: 50%;
  }

  .text-testimonial p{
    position: relative;
    
  }

  .ordenNameOrigin{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name{
    color: var(--PrimaryLight);
    margin-bottom: -10px;
    margin-top: 5px;
  }

  .origin{
    color: white;
  }

#section-our-service{
    width: 1000px;
    height: 200px;
    margin-bottom: 300px;
}

#article-our-service{
    display: flex;
    width: 1000px;
    height: 350px;
    justify-content: space-between;
}

#section-our-service h2{
    width: 1000px;
    padding-bottom: 40px;
    font-size: 30px;
    margin-left: 10px;
}

.services{
    margin: 0;
    width: 280px;
    height: 300px;
    background-color: white;
}

.services:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.services img{
    position: relative;
    height: 35px;
    width: 35px;
}

.background-img{
    margin: 30px 20px 20px 20px;
    width: 50px;
    height: 50px;
    background: var(--PrimaryLighter);
    padding: 10px;
    border-radius: 60%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.services h3{
    margin: 10px 10px 10px 20px;
    font-size: 20px;
    
}

.services h4{
    font-weight: normal;
    margin: 20px 10px 55px 20px;
    color: gray;
}

.services a{
    font-weight: bold;
    margin: 0px 30px 0px 20px;
    text-decoration: none;
}

.services a:hover{
    text-decoration: underline;
}

#help-section{
    width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
    background: var(--SecondaryLight);
    margin-bottom: 150px;
}

#help-section h2{
    margin-top: 90px;
    text-align: center;
    font-size: 40px;

}

#help-section h3{
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}

.box-input-help{
    width: 1200px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-input-help input{
    background-image: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    border: 1px solid var(--White);
    text-align: center;
}

.box-help1{
    width: 500px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    left: 9%;
    text-align: center;
    font-size: 20px;
    display: inline;
    margin-right: 10px;
}

.box-help2{
    /* position: relative; */
    width: 180px;
    height: 60px;
    background-color: white;
    background: var(--Primary);
    font-size: 19px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

footer{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.adress{
    width: 200px;
    height: 180px;
    /* background-color: #072ac8; */
}

.adress img{
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.grid-menu-footer ul{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* grid-gap: 50px; */
    column-gap: 10px;  
    row-gap: 75px;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: center;
}

.item-footer a{
    text-decoration: none;
    color: #000;
}

.item-footer a:hover{
    text-decoration: underline;
    color: var(--Primary);
}

@media (max-width: 1000px){
    header {
        width: 100vw;
    }
    
    .navbar{
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;    }
    
    .logo{
        padding: 8px;
    }
    
    .main-nav-desktop{
        width: 400px;
        display: flex;
        justify-content: space-around;
    }
    
    .main-nav-desktop li {
        list-style-type: none;
        display: inline-block;
        line-height: 40px;
        padding: 0 10px;
    }
    
    .main-nav-desktop li a{
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: grey;
    }
    
    .navbar ul li a:hover{
        color: var(--Primary); 
    }
    
    .btnContact{
        padding: 10px;
        background: var(--Primary);
        text-decoration: none;
        color: var(--White); 
        font-size: 12px;
    }
    
    .burger-menu{
        display: none;
    }

    .hero {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 60px;
        /* margin-left: 130px; */
    }

    .article-projects {
        display: flex;
        width: 100vw;
        height: 350vh;
        justify-content: space-between;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 100px;
        width: 100vw;
        margin-bottom: 150px;
    }

    #section-projects{
        width: 100vw;
        height: 500px;
        margin-bottom: 100px;
    }
    
    #section-projects h2 {
        width: 100vw;
        padding-bottom: 40px;
        font-size: 30px;
    }

    .article-projects{
        display: flex;
        width: 100vw;
        height: 350px;
        justify-content: space-between;
    }
    
    #section-projects h2{
        width: 100vw;
        padding-bottom: 40px;
        font-size: 30px;
    }

    .projects{
        margin: 0;
        width: 200px;
        height: 100%;
        background-color: white;
        color: black;
    }
  
    #testimonial-section {
        background: var(--NeutralDark);
        background-image: url(../img/orbit.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: 100VW;
        height: 400px;
        background-size: cover;
        margin-bottom: 150px;
      }
    
      .text-testimonial{
        position: absolute;
        width: 100VW;
        height: 200px;
        background: var(--NeutralDark);
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 28%;
      }
     
      .text-testimonial h3{
        color:white;
        font-size: 15px;
        font-weight: normal;
        padding: 0px 200px;
        text-align: center;
        color: var(--SecondaryDark);
      } 

    #section-our-service{
        width: 1000px;
        height: 200px;
        margin-bottom: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    #article-our-service{
        display: flex;
        width: 100vw;
        height: 350px;
        justify-content: space-evenly;    
    }
    
    #section-our-service h2{
        margin-left: 100px;
        width: 100vw;
        padding-bottom: 40px;
        font-size: 30px;
    }
    
    .services{
        margin: 0;
        width: 200px;
        height: 350px;
        background-color: white;
    }

    
    .services h3{
        margin: 10px 10px 10px 20px;
        font-size: 20px;
        
    }
    
    .services h4{
        font-weight: normal;
        margin: 20px 10px 55px 20px;
        color: gray;
    }
    
    .services a{
        font-weight: bold;
        margin: 0px 0px 0px 20px;
        text-decoration: none;
    }

    }

@media (max-width: 820px){
    header {
        width: 100vw;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }

    .hero {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 60px;
        margin-left: 200px;
    }

    .accepted {
        position: relative;
        width: 230px;
        height: auto;
        top: 35px;
        left: 150px;
    }

    .card {
        position: relative;
        width: 230px;
        height: auto;
        top: 30px;
        left: -60px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-gap: 100px;
        width: 500px;
        margin-bottom: 150px;
        margin-left: 200px;
        justify-items: center;
    }

    .grid-item{
        filter: grayscale(100%);
        cursor: pointer;
        width: 110px;
        transition: all 0.4s ease-in-out;
    }
}

@media (max-width: 700px){
    header {
        width: 100vw;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        /* margin-left: 100px; */
    }
    
    .logo{
        padding: 8px;
    }
    
    /* TODO */
    
    /* .navBurguer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;   
    } */
    
    .main-nav-desktop{
        position: absolute;
        display: none;
        width: 200px;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: baseline;
        list-style: none;
        background: linear-gradient(to bottom, rgba(169, 169, 169, 1) 0%, rgba(169, 169, 169, 0) 100%);
        justify-content: space-evenly;
        flex-direction: column;
    }

    .main-nav-desktop li a{
        position: absolute;
        text-decoration: none; 
        font-size: 20px;
        font-weight: bold; 
        color: white; 
        background-color: rgb(95, 124, 141);
        /* padding: 0px 30px; */
        width: 120px;
        height: auto;
        text-align: center;
    }   
   
    .burger-menu{
        display: block;
        z-index: 100;
    }    
    
    
    .btnContact{
        padding: 10px;
        background: var(--Primary);
        text-decoration: none;
        color: var(--White); 
        font-size: 12px;
    }
    
    
    .hero {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 60px;
        /* margin-left: 200px; */
    }

    .accepted {
        position: relative;
        width: 180px;
        height: auto;
        top: 35px;
        left: 150px;
    }

    .card {
        position: relative;
        width: 180px;
        height: auto;
        top: 30px;
        left: -60px;
    }

    #testimonial-section {
        background: var(--NeutralDark);
        background-image: url(../img/orbit.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: 100VW;
        height: 400px;
        background-size: cover;
        margin-bottom: 150px;
      }
    
      .text-testimonial{
        position: absolute;
        width: 100VW;
        height: 150px;
        background: var(--NeutralDark);
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 28%;
        text-align: center;
      }
      
      .text-testimonial h2{
        color:white;
        font-size: 25px;
        padding:20px 0px;
      } 
     
      .text-testimonial h3{
        color:white;
        font-size: 12px;
        font-weight: normal;
        padding: 0px 100px;
        text-align: center;
        color: var(--SecondaryDark);
      } 
    
      .icono1{
        top: 3%;
        left: 5%;
      }
    
      .icono2{
        top: 3%;
        left: 85%;
      }
    
      .icono3{
        top: 80%;
        left: 5%;
      }
    
      .icono4{
        top: 80%;
        left: 85%;
      }
    
    
      .name{
        color: var(--PrimaryLight);
        margin-bottom: -10px;
        margin-top: 5px;
        font-size: 12px;
      }
    
      .origin{
        color: white;
        font-size: 12px;

      }
      /* TODO */
      #article-our-service{
        display: flex;
        width: 1000px;
        height: 350px;
        justify-content: space-between;
    }
    
    #section-our-service h2{
        width: 1000px;
        padding-bottom: 40px;
        font-size: 30px;
    }
    
    .services{
        margin: 0;
        width: 280px;
        height: 300px;
        background-color: white;
    }
    
    .services:hover{
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    }
    
    .services img{
        position: relative;
        height: 35px;
        width: 35px;
    }
    
    .background-img{
        margin: 30px 20px 20px 20px;
        width: 50px;
        height: 50px;
        background: var(--PrimaryLighter);
        padding: 10px;
        border-radius: 60%;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    .services h3{
        margin: 10px 10px 10px 20px;
        font-size: 20px;
        
    }
    
    .services h4{
        font-weight: normal;
        margin: 20px 10px 55px 20px;
        color: gray;
    }
    
    .services a{
        font-weight: bold;
        margin: 0px 30px 0px 20px;
        text-decoration: none;
    }
    
    .services a:hover{
        text-decoration: underline;
    } 
}